$dark-00dp: #121212; // overlay 0%
$dark-01dp: #1d1d1d; // overlay 5%
$dark-02dp: #212121; // overlay 7%
$dark-03dp: #242424; // overlay 8%
$dark-04dp: #262626; // overlay 9%
$dark-06dp: #2c2c2c; // overlay 11%
$dark-08dp: #2d2d2d; // overlay 12%
$dark-12dp: #323232; // overlay 14%
$dark-16dp: #353535; // overlay 15%
$dark-24dp: #373737; // overlay 16%
$dark-purple: #bb86fc;

$text-muted: rgba(0, 0, 0, 0.54);