.root {
  flex-grow: 1;
  overflow: hidden;
}

.paper {
  padding: 2px;
  text-align: center;
}

.new-post {
  position: fixed !important;
  bottom: 1rem;
  right: 1rem;
}

.grid-container {
  height: 100%;
  overflow-y: auto;
}
