/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {*/
/*    .cover {*/
/*        width: 100px;*/
/*    }*/
/*}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {*/
/*    .cover {*/
/*        width: 100px;*/
/*    }*/
/*}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {*/
/*    .cover {*/
/*        width: 140px;*/
/*    }*/
/*}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {*/
/*    .cover {*/
/*        width: 153px;*/
/*    }*/
/*}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {}*/

.root {
    display: flex;
    /*max-width: 600px;*/
}

.details {
    display: flex;
    flex-direction: column;
}

#header  {
    padding: 10px 16px;
}

#content {
    padding-top: 10px;
    padding-bottom: 0;
}

#action {
    padding: 0px 16px 8px 16px;
}

.cover {
    width: 100%;
    height: auto;
    margin: 10px;
}

/*#shareBtn {*/
/*    margin-left: auto;*/
/*}*/

/*#favBtn {*/
/*    margin-left: auto;*/
/*}*/

.actionBtn {
    margin-left: auto;
}

.MuiBox-root {
    padding: 1rem;
}