.login-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.button-container button:nth-child(2) {
    margin-top: 11px;
    margin-bottom: 16px;
}

img {
    max-height: 2rem !important;
}