@import '../../styles/color';

.blog-root {
  display: flex;
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-appearance: color-well;
}

.details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#header {
  padding: 10px 16px;
}

#content {
  padding-top: 10px;
  padding-bottom: 0;
}

#action {
  padding: 0px 16px 8px 16px;
}

.cover {
  margin: 10px;
}

@media only screen and (max-width: 599px) {
  .cover {
    min-width: 100px;
    max-height: 100px;
  }
}

/* * Small devices (portrait tablets and large phones, 600px and up) *!*/
@media only screen and (min-width: 600px) {
  .cover {
    min-width: 100px;
  }
}

/* !* Medium devices (landscape tablets, 768px and up) *! */
@media only screen and (min-width: 768px) {
  .cover {
    min-width: 140px;
  }
}

/*!* Large devices (laptops/desktops, 992px and up) *!*/
@media only screen and (min-width: 992px) {
  .cover {
    min-width: 153px;
  }
}

/*#shareBtn {*/
/*    margin-left: auto;*/
/*}*/

/*#favBtn {*/
/*    margin-left: auto;*/
/*}*/

.actionBtn {
  margin-left: auto;
}

.MuiBox-root {
  padding: 1rem;
}
